@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Kanit:wght@500&display=swap');
$colorW:#FFFFFF;

/* font family */
.font-def
{
    font-family: 'Poppins', sans-serif;
}

.font-b
{
    font-weight: 500;
}

/* contact bar + navigation bar */
.header-bar{
    width: 80%;
    margin: 0px auto;
}

.contact-bar{
    padding: 0px;

    .contact-bar-item{
    display: inline;
    }

    .contact-bar-middle{

    display: inline-block;
    text-align: left;
    margin: 0px 20px;
    }

    .contact-bar-icon{

    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 10px;
    color: #0d6efd;

    }
    .contact-bar-details{
    display: inline-block;
    }

    .contact-bar-details:hover{
    color: #0d6efd;
    }

 
}



/* main image */
.main-imageDiv{
    /* background-color: #0d6efd; */
    height: 400px;
    background-image: url("img/school_load_image.jpg");
    background-size: cover;
    color: #fff;

    .bg-image-filter{
    height: 100px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    }

    .bg-image-filter{
        height: 100px;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        }

        .main-overflow{   
            width: 80%;
            position: relative;
            left: 10%;
            z-index: 1;

            .font-def{
               
                font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
            }
}

/* Staff Details */
.container{
        margin-top: 2%;
        

    .inner{
        overflow:hidden;
        

        img{
            transition: all 1.5s ease;
            
        }
    }

    .inner:hover img{
        transform: scale(1.1);
       
        
    }

    .fa {
        padding-left:2%;
        font-size: 12px;
         text-align: center;
        text-decoration: none;
        color: black;
       
      }
      
      .fa:hover {
          opacity: 0.7;
          color:#0d6efd;


      }

      h4:hover{
          color:#0d6efd;
      }

      
      #Position{
          color:#0d6efd ;
          font-size: 12px;
          font-family: 'Josefin Sans', sans-serif;
          line-height: 1;
      }


}

/* footer section */
#footer-section
{
     width: 80%;
     background-color: #212529;
     margin: 0 auto;
}

.footer-font{
    color: #fff;

    .sm-icons i{
    font-size: 1.4rem;
    padding: 30px 5px 0 5px;
    }


    .sm-icons i:hover{
        color: #fff;
    }

    .addAndTel{
        width: 80%;
        padding-top: 30px;
        margin: 0 auto;

        .footer-tel{
        padding: 0 10%;

        .footer-details{
            display: inline-block;
            }

            .footer-details:hover{

                color: #0d6efd;
            }
        }

        .footer-details{
        color: #fff;
        }
    }

}












    
